<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.omerf.databaseapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
       <!-- Main Activity -->
        <activity
            android:name="com.example.omerf.databaseapp.MyLibrary"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" >
        </activity>

        <!-- SplashScreen Activity-->
        <activity
            android:name="com.example.omerf.databaseapp.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.omerf.databaseapp.BookDetails"
            android:label="@string/app_name"
            android:parentActivityName=".MyLibrary"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" >
        </activity>
        <activity
            android:name="com.example.omerf.databaseapp.EditBook"
            android:label="@string/app_name"
            android:parentActivityName=".MyLibrary"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light"
            >
        </activity>
        <activity
            android:name="com.example.omerf.databaseapp.AddBook"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName=".MyLibrary"
            android:theme="@style/Theme.AppCompat.Light" >
        </activity>

        <activity
            android:name="com.example.omerf.databaseapp.AboutMe"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName=".MyLibrary"
            android:theme="@style/Theme.AppCompat.Light" >
        </activity>
        <activity
            android:name="com.example.omerf.databaseapp.Contact"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName=".MyLibrary"
            android:theme="@style/Theme.AppCompat.Light" >
        </activity>
    </application>

</manifest>